<p id="notice"><%= notice %></p>
<h1><%= @game.name %></h1>
<% @game.scores.each do |event| %>
<div class="center round">
<%= h event.team.name %> : <%= event.score %>
</div>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
